// colores
$rojo : #FF4444;
$gris: #383838;
$verde-agua: #7CFFC8;
$amarillo: #FCFF53;
// font
@font-face {
    font-family: 'Thabit';
    src: url(.././assets/fonts/Thabit.ttf) format('truetype');
}
$font-main: 'Thabit';
// size

